@if (myProperties.length === 0) {
 <div class="flex items-center justify-center min-h-[500px] p-8 bg-gray-50 dark:bg-gray-900 rounded-2xl animate-fade-in transition-all duration-500">
  <div class="max-w-xl text-center space-y-6">
    <div class="relative w-48 h-48 mx-auto">
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="w-full h-full border-4 border-dashed border-gray-300 dark:border-gray-600 rounded-full animate-pulse-slow"></div>
      </div>
      <div class="relative w-full h-full flex items-center justify-center z-10">
        <i class="uil uil-search text-gray-400 dark:text-gray-500 text-7xl animate-move-up-down"></i>
      </div>
    </div>
    <div class="space-y-4">
      <h2 class="text-4xl font-extrabold text-gray-800 dark:text-white leading-tight tracking-wider animate-slide-in-down">
        Waiting for New Listings
      </h2>
      <p class="mt-4 text-lg text-gray-500 dark:text-gray-400 font-light animate-slide-in-up">
        It looks like there are no properties to display right now. Check back soon, as new listings are on the way!
      </p>
    </div>
  </div>
</div>
}

@else if (myProperties.length > 0) {
<p-carousel
  [value]="myProperties"
  [numVisible]="2"
  [numScroll]="1"
  [circular]="true"
  [responsiveOptions]="carouselResponsiveOptions"
  [autoplayInterval]="3000"
  [showNavigators]="true"
  [showIndicators]="false"
>
  <ng-template let-prop pTemplate="item">
    <div class="p-4 space-y-2 min-h-[200px]">
      <div class="rounded-xl overflow-hidden bg-white shadow hover:shadow-xl transition-shadow duration-300">
        <img
          [src]="prop.mainImageUrl"
          alt="Property Image"
          class="w-full h-56 object-cover"
        />
        <div class="p-4 space-y-2">
          <a
            [routerLink]="['/property', prop.id]"
            class="text-lg font-semibold text-gray-800 hover:text-blue-500 transition-colors"
          >
            {{ prop.title }}
          </a>
          <div class="text-sm text-gray-600 space-y-1">
            <ul class="py-6 border-y border-slate-100 flex items-center list-none">
              <li class="flex items-center me-4">
                <i class="uil uil-compress-arrows lg:text-3xl text-2xl me-2 text-blue-500"></i>
                <span class="whitespace-nowrap">{{ prop.space }} m²</span>
              </li>
              <li class="flex items-center me-4">
                <i class="uil uil-bed-double lg:text-3xl text-2xl me-2 text-blue-500"></i>
                <span class="whitespace-nowrap">{{ prop.roomCount }} Beds</span>
              </li>
              <li class="flex items-center">
                <i class="uil uil-bath lg:text-3xl text-2xl me-2 text-blue-500"></i>
                <span class="whitespace-nowrap">{{ prop.bathroomCount}} Baths </span>
              </li>
              <li class="flex items-center">
                <i class="uil uil-users-alt lg:text-3xl text-2xl me-2 text-blue-500 ml-3"></i>
                <span class="whitespace-nowrap"> {{ prop.peopleCapacity }} </span>
              </li>
            </ul>
            <ul class="pt-6 flex justify-between items-center list-none">
              <li>
                <span class="text-slate-400">Price</span>
                <p class="text-lg font-medium">${{ prop.price }}</p>
              </li>
              <li>
                <span class="text-slate-400">Rating</span>
                <ul class="text-lg font-medium text-amber-400 list-none">
               <li class="inline" *ngFor="let _ of [1,2,3,4,5]">
                    <i class="mdi mdi-star"></i>
                </li>
              <li class="inline text-black">
                  {{ prop.averageRating }}
              </li>
            </ul>
            </li>
        </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
}
