<section class="px-4 py-15 md:flex md:items-center md:justify-between md:mx-auto md:px-20">
  <div class="rounded-xl overflow-hidden md:w-[50%]">
    <img
      src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg"
      alt="house-image"
      class="h-100 w-full object-cover md:h-[500px]"
    />
  </div>
  <div class="py-10 md:px-10 md:w-[50%] md:py-0">
    <h1 class="text-2xl font-bold md:text-4xl">
      Efficiency. Transparency.<br />
      Control.
    </h1>
    <p class="text-gray-500 text-base/7 font-medium py-6 mb-7 md:text-lg">
      Hously developed a platform for the rental marketplace that allows hosts
      and guests to easily book stays on their own. The platform drives
      efficiency, price transparency, and control into the hands of users.
      Hously is Short-Term Rentals Redefined.
    </p>
    <a
      routerLink="about"
      class="py-3 px-10 bg-blue-500 rounded-xl text-white font-semibold hover:bg-blue-700 transition-colors delay-200"
    >
      Learn More
    </a>
  </div>
</section>
