<div class="relative overflow-hidden rounded-md shadow-sm bg-white">
    <div class="p-6 flex items-center justify-between border-b border-gray-100">
        <h6 class="text-lg font-semibold">Top Properties</h6>
        <a href=""
            class="btn btn-link font-normal text-slate-400 hover:text-primary after:bg-primary transition duration-500">
            See More
            <i class="mdi mdi-arrow-right ms-1"></i>
        </a>
    </div>

    <div class="relative overflow-x-auto block w-full max-h-[284px] p-6" data-simplebar>
        <div *ngFor="let p of properties" class="flex justify-between items-center mt-4 first:mt-0">
            <div class="flex items-center">
                <div class="relative md:shrink-0">
                    <img [src]="p.img" class="object-cover size-14 min-w-[56px] rounded-md shadow-smy" alt="property">
                </div>

                <div class="ms-2">
                    <a href="#" class="font-medium hover:text-primary block text-lg">{{ p.name }}</a>
                    <span class="text-slate-400">{{ p.location }}</span>
                </div>
            </div>

            <span class="w-20 text-end text-yellow-500 flex items-center justify-end gap-1">
                <i class="mdi mdi-star"></i>
                {{ p.totalRating | number: '1.1-1' }}
            </span>
        </div>
    </div>
</div>