   <!-- Start Hero -->
    <section class="relative table w-full py-32 lg:py-36 bg-no-repeat bg-center bg-cover" [style.background-image]="heroBackgroundImage">
        <div class="absolute inset-0 bg-slate-900 opacity-80"></div>
        <div class="container relative mx-auto">
            <div class="grid grid-cols-1 text-center mt-10">
                <h3 class="md:text-4xl text-3xl md:leading-normal leading-normal font-medium text-white">Find Your Dream Home</h3>
                <p class="text-slate-400 text-lg max-w-xl mx-auto mt-4">Discover the perfect property for you and your family with our comprehensive real estate platform.</p>
            </div><!--end grid-->
        </div><!--end container-->
    </section><!--end section-->


<div class="w-11/12 justify-self-center mb-10">
   

<section class="relative lg:py-24 py-16">
  <div class="container relative mx-auto">
    <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px]">

      <!-- Filter Component -->
    <div class="lg:col-span-4 md:col-span-6">
      <app-filter (filterApplied)="onFilterApplied($event)"></app-filter>
    </div>



      <!-- Apartments List -->
      <div class="lg:col-span-8 md:col-span-6">
        <div class="grid grid-cols-1 gap-[30px]">
          <app-property-card
            *ngFor="let property of properties"
            [property]="property">
          </app-property-card>
        </div>

        <!-- Pagination -->
        <div class="grid md:grid-cols-12 grid-cols-1 mt-8">
          <div class="md:col-span-12 text-center">
            <nav>
             <ul class="inline-flex items-center -space-x-px">
       <!-- Prev Button -->
<li>
  <a (click)="changePage(currentPage - 1)" [class.opacity-50]="currentPage === 1"
     class="size-10 inline-flex justify-center items-center mx-1 rounded-full text-slate-400 bg-white hover:text-white hover:bg-primary shadow-xs">
    <i class="uil uil-angle-left text-[20px]"></i>
  </a>
</li>

<!-- Page Numbers -->
<li *ngFor="let page of [].constructor(totalPages); let i = index">
  <a (click)="changePage(i + 1)">
    {{ i + 1 }}
  </a>
</li>


<!-- Next Button -->
<li>
  <a (click)="changePage(currentPage + 1)" [class.opacity-50]="currentPage === totalPages"
     class="size-10 inline-flex justify-center items-center mx-1 rounded-full text-slate-400 bg-white hover:text-white hover:bg-primary shadow-xs">
    <i class="uil uil-angle-right text-[20px]"></i>
  </a>
</li>

        </ul>

            </nav>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

</div>