<p-carousel
  [value]="myProperties"
  [numVisible]="2"
  [numScroll]="1"
  [circular]="true"
  [responsiveOptions]="carouselResponsiveOptions"
  [autoplayInterval]="3000"
  [showNavigators]="true"
  [showIndicators]="false"
>
  <ng-template let-prop pTemplate="item">
    <div class="p-4">
      <div class="rounded-xl overflow-hidden bg-white shadow hover:shadow-xl transition-shadow duration-300">
        <img
          [src]="prop.images[0]?.url"
          alt="Property Image"
          class="w-full h-56 object-cover"
        />
        <div class="p-4 space-y-2">
          <a
            [routerLink]="['/property', prop.id]"
            class="text-lg font-semibold text-gray-800 hover:text-blue-500 transition-colors"
          >
            {{ prop.title }}
          </a>
          <div class="text-sm text-gray-600 space-y-1">
            <ul class="py-6 border-y border-slate-100 flex items-center list-none">
              <li class="flex items-center me-4">
                <i class="uil uil-compress-arrows lg:text-3xl text-2xl me-2 text-blue-500"></i>
                <span>{{ prop.Area }} m²</span>
              </li>
              <li class="flex items-center me-4">
                <i class="uil uil-bed-double lg:text-3xl text-2xl me-2 text-blue-500"></i> 
                <span>{{ prop.roomCount }} Beds</span>
              </li>
              <li class="flex items-center">
                <i class="uil uil-bath lg:text-3xl text-2xl me-2 text-blue-500"></i>
                <span>{{ prop.bathroomCount }} Baths </span>
              </li>
              <li class="flex items-center">
                <i class="uil uil-users-alt lg:text-3xl text-2xl me-2 text-blue-500 ml-3"></i>
                <span> {{ prop.Guests }} Guests</span>
              </li>
            </ul>
            <ul class="pt-6 flex justify-between items-center list-none">
              <li>
                <span class="text-slate-400">Price</span>
                <p class="text-lg font-medium">${{ prop.rentPerDay }}</p>
              </li>
              <li>
                <span class="text-slate-400">Rating</span>
                <ul class="text-lg font-medium text-amber-400 list-none">
               <li class="inline" *ngFor="let _ of [1,2,3,4,5]">
                    <i class="mdi mdi-star"></i>
                </li>
              <li class="inline text-black">
                  {{ getRatingAverage(prop.ratings) }}
              </li>
            </ul>
            </li>
        </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

